<div class="form">
    <div class="title">
      <h3>Iniciar Sesión</h3>
      <h6>Ingresa tus credenciales para continuar</h6>
    </div>
  
    <div class="group">
      <label class="lbl">Correo Electrónico</label>
      <input type="text" [(ngModel)]="user.username" class="input" placeholder="Introduce tu correo electrónico">
    </div>
  
    <div class="group">
      <label class="lbl">Contraseña</label>
      <input type="password" [(ngModel)]="user.passwordorrandomPassword" class="input" placeholder="Introduce tu contraseña">
    </div>
  
    <button type="button" (click)="loginUser()" class="btn">Iniciar Sesión</button>
    <br>
    <p><a routerLink="/login/passwordrecovery">¿Olvidaste tu contraseña?</a></p>
    <p>¿No tienes cuenta? <a routerLink="/auth/register">Regístrate</a></p>
  </div>
  