/* Estilos base (ya los tienes) */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;

  width: 100%;
  background: #232949;
  padding: 8px 10px;
  color: #ffff;
  z-index: 100000;
  box-shadow: 0 3px 10px #00000040;
  border-bottom: 2px solid red;
  transition: height 0.3s ease;
  /* Animación suave al cambiar de tamaño */
}

.header-largo {
  height: 180px;
  /* Nueva altura cuando hay un subtipo */
}

.title {
  text-align: center;
  width: 80%;
  margin: 14px auto;
}

.title h1 {
  font-size: 25px;
}



.header h2 {
  font-size: clamp(24px, 6vw, 36px);
  margin: 0;
  text-align: center;
}

.header-left {
  position: relative;
  display: flex;
  align-items: center;
}

.header-left i {
  cursor: pointer;
}


.bx {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #464b6a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;

}

.bx-chevron-left {
  -webkit-tap-highlight-color: transparent;
  /* Elimina el color de resaltado en móviles */
}

.dropdown ul li:hover {
  background-color: #f5f5f5;
}

/* Estilos para el elemento activo */
.dropdown ul li.active {
  background-color: #232949;
}

.dropdown ul li.active a {
  color: #fff;
}

/* Media Query para pantallas muy pequeñas */
@media (max-width: 400px) {}