<div class="denuncias_anonimas">

    <!-- Sección Informativa -->
    <section class="info_section">
        <p id="info1">Como denunciar anonimamente </p>
        <div class="info_item" id="info2">
            <img src="https://cdn.prod.website-files.com/64c73d04a946980a4476537e/64d455088454ba4abb0cf9cc_Late%20for%20Class.svg"
                alt="Ícono Informativo" class="icon a1" />
            <p>En esta sección puedes realizar denuncias de forma anónima. Recuerda que una denuncia anónima te permite
                reportar situaciones sin revelar tu identidad, protegiendo así tu seguridad.</p>
        </div>
        <div class="info_item" id="info3">
            <img src="https://cdn.prod.website-files.com/64c73d04a946980a4476537e/64d456bfc7f9c0552d104382_Gamestation.svg"
                alt="Ícono Informativo" class="icon a2" />
            <p>Te guiaremos paso a paso en el proceso para que puedas completar toda la información necesaria.</p>

        </div>
        <div class="info_item" id="info4">
            <img src="https://cdn.prod.website-files.com/64c73d04a946980a4476537e/64d452e5aed374e1f7ce8cac_Reflecting.svg"
                alt="Ícono Informativo" class="icon a3" />
            <p>Recuerda que el proceso incluye varias etapas, como seleccionar el tipo de denuncia, agregar evidencias,
                indicar la ubicación del incidente, entre otras.</p>
        </div>
        <a class="scrollup" id="scroll-up" (click)="scrollToTop()"> 
            <i class='bx bx-up-arrow-alt scrollup__icon'></i>
        </a>  
    </section>

    <div class="container_content">

        <button class="learn-more" (click)="goToConsulta()">Consultar</button>
        <button class="learn-more" (click)="goToCrear()">Crear</button>
        <button class="sabermas" (click)="showwarnig()">Saber más</button>
    </div>
</div> 