<div class="container_zona">
    <p>Zonas </p>
    <div class="cards">
        <!-- Primera Card -->
        <div class="card1">
            <div class="imgbx img-pasca"></div>
            <div class="content">
                <span class="btn">
                    <button class="button" [routerLink]="['/client/zonas/scene', 'pascaCundinamarca']">
                        <p class="txt">Ver</p>
                        <i class='bx bx-chevron-right bx-burst'></i>
                    </button> 

                </span>
                <div class="info-list">
                    <ul>
                        <li class="name">Pasca - Cundinamarca</li>
                        <li class="campiamigos">
                            <span class="icon"><i class="bx bx-group"></i></span>
                            <span class="text">1 Campiamigos</span>
                        </li>
                        <li class="productos">
                            <span class="icon"><i class="bx bx-cart"></i></span>
                            <span class="text">1 Producto</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Segunda Card (nueva) -->
        <!-- <div class="card1">
            <div class="imgbx"></div>
            <div class="content">
                <span class="btn">
                    <button class="button">
                        <p class="txt">Ver</p>
                        <i class='bx bx-chevron-right bx-burst'></i>
                    </button>
                </span>
                <div class="info-list">
                    <ul>
                        <li class="name">Bogotá - Distrito Capital</li>
                        <li class="campiamigos">
                            <span class="icon"><i class="bx bx-group"></i></span>
                            <span class="text">3 Campiamigos</span>
                        </li>
                        <li class="productos">
                            <span class="icon"><i class="bx bx-cart"></i></span>
                            <span class="text">5 Productos</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</div>