<div class="container">
  <div class="form-group">
    <label for="claveUnica">Clave del Radicado:</label>
    <input type="text" class="form-control" id="claveUnica" [(ngModel)]="claveUnica"
      placeholder="Ingresa la clave del radicado">
  </div>

  <button class="btn" (click)="consultarDenuncia()">Consultar</button>

  <div class="content" *ngIf="denuncia">
    <h2>Detalles de la Denuncia</h2>
    <p class="detail-item"><strong>Tipo de Denuncia:</strong> {{ denuncia.tipoDenuncia.nombre }}</p>
    <p class="detail-item"><strong>Subtipo de Denuncia:</strong> {{ denuncia.subtipoDenuncia.nombre }}</p>
    <p class="detail-item"><strong>Descripción:</strong> {{ denuncia.descripcion }}</p>
    <!-- Se muestra la dirección en texto -->
    <p class="detail-item"><strong>Dirección:</strong> {{ denuncia.direccion }}</p>

    <!-- Contenedor para el mapa -->
    <div class="mapa">
      <div *ngIf="mapLoaded" id="mapConsulta"></div>
      <button class="btn1" (click)="changeTheme()"><i class='bx bx-map-alt'></i></button>

    </div>
    <!-- Botón para cambiar de tema -->

    <p class="detail-item"><strong>Estado:</strong> {{ denuncia.status }}</p>
    <p class="detail-item"><strong>Fecha de Creación:</strong> {{ denuncia.fechaCreacion | date:'yyyy-MM-dd ' }}</p>
    <p class="detail-item"><strong>Fecha de Actualización:</strong> {{ denuncia.fechaActualizacion | date:'yyyy-MM-dd '
      }}</p>

    <!-- Sección de pruebas adjuntas -->
    <div *ngIf="denuncia.pruebas.length > 0" class="attachments">

      <h3>Evidencias:</h3>
      <div *ngIf="denuncia.pruebas && denuncia.pruebas.length > 0">
        <h4>Imágenes/Videos:</h4>
        <div *ngFor="let prueba of denuncia.pruebas">
          <!-- La línea 34 podría ser una de estas -->
          <img *ngIf="prueba.type === 'image'" [src]="prueba.url" alt="Evidencia imagen" width="200">
          <video *ngIf="prueba.type === 'video'" [src]="prueba.url" controls width="300"></video>
        </div>
      </div>
      <div *ngIf="!denuncia.pruebas || denuncia.pruebas.length === 0">
        <p>No hay pruebas visuales.</p>
      </div>

      <!-- Sección de audio -->
      <div *ngIf="denuncia.audio">
        <h4>Audio:</h4>
        <!-- O esta -->
        <audio [src]="denuncia.audio" controls></audio>
      </div>
      <div *ngIf="!denuncia.audio">
        <p>No hay evidencia de audio.</p>
      </div>
    </div>
    <div *ngIf="!denuncia && error" class="error-message">
      <p>{{ error }}</p>
    </div>

  </div>