<div class="tiposysubtipos-summary-container">
  <!-- Botón para volver -->
  <button type="button" class="back-btn" (click)="goBack()">
    <i class="bx bx-left-arrow-alt"></i>
  </button>

  <!-- Sección de creación -->
  <div class="card">
    <h3>Crear Tipos y Subtipos de Denuncias</h3>
    <ul class="dropdown-list">
      <!-- Crear Tipo de Denuncia -->
      <li>
        <details>
          <summary>Tipo de Denuncia</summary>
          <form (ngSubmit)="createTipo()">
            <div class="group">
              <label class="lbl" for="nombre">Nombre</label>
              <input class="input" type="text" id="nombre" [(ngModel)]="nombre" name="nombre" placeholder="Ingrese el nombre" required />
            </div>
            <div class="group">
              <label class="lbl" for="descripcion">Descripción</label>
              <textarea class="input" id="descripcion" [(ngModel)]="descripcion" name="descripcion" placeholder="Ingrese la descripción" required></textarea>
            </div>
            <div class="group">
              <label class="lbl" for="esAnonimaOficial">¿Es anónima oficial?</label>
              <select id="esAnonimaOficial" class="input" [(ngModel)]="esAnonimaOficial" name="esAnonimaOficial" required>
                <option value="Anónima">Anónima</option>
                <option value="Oficial">Oficial</option>
                <option value="Ambas">Ambas</option>
              </select>
            </div>
            <div class="group image-preview-group">
              <div class="image-container">
                <img [src]="previewUrl ? previewUrl : getImageUrl('')" alt="Vista previa de imagen" />
              </div>
              <label class="btn-upload">
                <i class="bx bx-image-add"></i>
                <input type="file" (change)="onFileSelected($event)" style="display: none;" />
              </label>
            </div>
            <button type="submit" class="btn" [disabled]="isLoading">
              {{ isLoading ? 'Creando...' : 'Crear Tipo de Denuncia' }}
            </button>
          </form>
        </details>
      </li>

      <!-- Crear Subtipo de Denuncia -->
      <li>
        <details>
          <summary>Subtipo de Denuncia</summary>
          <form (ngSubmit)="createSubtipo()">
            <div class="group">
              <label class="lbl" for="subtipoNombre">Nombre</label>
              <input class="input" type="text" id="subtipoNombre" [(ngModel)]="subtipoNombre" name="subtipoNombre" placeholder="Ingrese el nombre" required />
            </div>
            <div class="group">
              <label class="lbl" for="subtipoDescripcion">Descripción</label>
              <textarea class="input" id="subtipoDescripcion" [(ngModel)]="subtipoDescripcion" name="subtipoDescripcion" placeholder="Ingrese la descripción" required></textarea>
            </div>
            <div class="group">
              <label class="lbl" for="tipoDenunciaId">Tipo de Denuncia</label>
              <input class="input" type="number" id="tipoDenunciaId" [(ngModel)]="tipoDenunciaId" name="tipoDenunciaId" placeholder="Ingrese el ID del tipo de denuncia" required />
            </div>
            <div class="group image-preview-group">
              <div class="image-container">
                <img [src]="previewUrlSubtipo ? previewUrlSubtipo : getImageUrlSubtipo('')" alt="Vista previa de imagen" />
              </div>
              <label class="btn-upload">
                <i class="bx bx-image-add"></i>
                <input type="file" (change)="onFileSelectedSubtipo($event)" style="display: none;" />
              </label>
            </div>
            <button type="submit" class="btn" [disabled]="isLoading">
              {{ isLoading ? 'Creando...' : 'Crear Subtipo de Denuncia' }}
            </button>
          </form>
        </details>
      </li>
    </ul>
    <br>
  </div>

  <!-- Sección de visualización: Tipos y Subtipos -->
  <div class="card two">
    <h3>Ver Tipos y Subtipos de Denuncias</h3>
    <ul class="dropdown-list">
      <!-- Ver Tipos de Denuncias -->
      <li>
        <details>
          <summary>Tipos de Denuncias</summary>
          <div class="header-actions">
            <button class="filter-button" (click)="openFilterModal()">
              Filtrar <i class='bx bx-filter'></i>
            </button>
          </div>
          <div class="modal-overlay" *ngIf="showFilterModal">
            <div class="modal-content">
              <h2>Filtrar Tipos de Denuncia</h2>
              <div class="filter-field">
                <label>Nombre:</label>
                <input type="text" [(ngModel)]="filterNombre" placeholder="Buscar por nombre">
              </div>
              <div class="filter-field">
                <label>Descripción:</label>
                <input type="text" [(ngModel)]="filterDescripcion" placeholder="Buscar por descripción">
              </div>
              <div class="filter-field">
                <label>Tipo:</label>
                <select [(ngModel)]="filterTipo" class="input">
                  <option value="">Todos</option>
                  <option value="anónima">Anónima</option>
                  <option value="oficial">Oficial</option>
                  <option value="ambas">Ambas</option>
                  <option value="todas">Todas</option>
                </select>
              </div>
              <div class="modal-actions">
                <button (click)="applyFilter()" [disabled]="!isFilterValid()">Aceptar</button>
                <button (click)="closeFilterModal()">Cancelar</button>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="user-table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Imagen</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Tipo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tipo of paginatedTipos">
                  <td>{{ tipo.id }}</td>
                  <td>
                    <img [src]="getImageUrl(tipo.flagImage)" alt="Imagen de {{ tipo.nombre }}" class="table-image" />
                  </td>
                  <td>{{ tipo.nombre }}</td>
                  <td>{{ tipo.descripcion }}</td>
                  <td>{{ tipo.esAnonimaOficial }}</td>
                </tr>
              </tbody>
            </table>
            <div class="pagination-controls">
              <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
              <span>Página {{ currentPage }} de {{ totalPages }}</span>
              <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
            </div>
            <div class="pdf-download">
              <button (click)="downloadPdf()">Descargar PDF</button>
            </div>
          </div>
        </details>
      </li>

      <!-- Ver Subtipos de Denuncias -->
      <li>
        <details>
          <summary>Subtipos de Denuncias</summary>
          <div class="header-actions">
            <button class="filter-button" (click)="openFilterModalSub()">
              Filtrar <i class='bx bx-filter'></i>
            </button>
          </div>
          <div class="modal-overlay" *ngIf="showFilterModalSub">
            <div class="modal-content">
              <h2>Filtrar Subtipos de Denuncia</h2>
              <div class="filter-field">
                <label>Nombre:</label>
                <input type="text" [(ngModel)]="filterSubNombre" placeholder="Buscar por nombre">
              </div>
              <div class="filter-field">
                <label>Descripción:</label>
                <input type="text" [(ngModel)]="filterSubDescripcion" placeholder="Buscar por descripción">
              </div>
              <div class="filter-field">
                <label>Tipo de Denuncia (ID):</label>
                <input type="text" [(ngModel)]="filterSubTipoDenunciaId" placeholder="Ingrese el ID o 'todos'">
              </div>
              <div class="modal-actions">
                <button (click)="applyFilterSubtipos()" [disabled]="!isFilterValidSub()">Aceptar</button>
                <button (click)="closeFilterModalSub()">Cancelar</button>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="user-table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Imagen</th>
                  <th>Nombre</th>
                  <th>Tipo de Denuncia</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subtipo of paginatedSubtipos">
                  <td>{{ subtipo.id }}</td>
                  <td>
                    <img [src]="getImageUrlSubtipo(subtipo.flagImage)" alt="Imagen de {{ subtipo.nombre }}" class="table-image" />
                  </td>
                  <td>{{ subtipo.nombre }}</td>
                  <td>{{ subtipo.tipoDenunciaId }}</td>
                </tr>
              </tbody>
            </table>
            <div class="pagination-controls">
              <button (click)="prevPageSub()" [disabled]="currentPageSub === 1">Anterior</button>
              <span>Página {{ currentPageSub }} de {{ totalPagesSub }}</span>
              <button (click)="nextPageSub()" [disabled]="currentPageSub === totalPagesSub">Siguiente</button>
            </div>
            <div class="pdf-download">
              <button (click)="downloadPdfSubtipos()">Descargar PDF</button>
            </div>
          </div>
        </details>
      </li>
    </ul>
    <br>
  </div>

  <!-- Sección de Denuncias (anónimas y oficiales) -->
  <div class="card three">
    <h3>Ver Denuncias Anónimas y Oficiales</h3>
    <ul class="dropdown-list">
      <li>
        <details>
          <summary>Denuncias</summary>
          <div class="header-actions">
            <button class="filter-button" (click)="openFilterModalDenuncias()">
              Filtrar <i class='bx bx-filter'></i>
            </button>
          </div>
          <div class="modal-overlay" *ngIf="showFilterModalDenuncias">
            <div class="modal-content">
              <h2>Filtrar Denuncias</h2>
              
              <div class="filter-field">
                <label>Clave Única:</label>
                <input type="text" [(ngModel)]="filterClaveUnica" placeholder="Buscar por clave única" />
              </div>
              <div class="modal-actions">
                <button (click)="applyFilterDenuncias()">Aceptar</button>
                <button (click)="closeFilterModalDenuncias()">Cancelar</button>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="user-table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Tipo</th>
                  <th>Subtipo</th>
                  <th>Clave Única</th>
                  <th>Status</th>
                  <th>Fecha Creación</th>
                  <th>Fecha Actualización</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let denuncia of paginatedDenuncias">
                  <td>{{ denuncia.id }}</td>
                  <td>{{ denuncia.tipoDenuncia?.nombre || denuncia.nombreTipo }}</td>
                  <td>{{ denuncia.subtipoDenuncia?.nombre || denuncia.nombreSubtipo }}</td>
                  <td>{{ denuncia.claveUnica }}</td>
                  <td>{{ denuncia.status }}</td>
                  <td>{{ denuncia.fechaCreacion | date:'short' }}</td>
                  <td>{{ denuncia.fechaActualizacion | date:'short' }}</td>
                  <td>
                    <button class="btn-action" (click)="verDenuncia(denuncia.claveUnica)">Ver</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pagination-controls">
              <button (click)="prevPageDenuncias()" [disabled]="currentPageDenuncias === 1">Anterior</button>
              <span>Página {{ currentPageDenuncias }} de {{ totalPagesDenuncias }}</span>
              <button (click)="nextPageDenuncias()" [disabled]="currentPageDenuncias === totalPagesDenuncias">Siguiente</button>
            </div>
          </div>
        </details>
      </li>
    </ul>
    <br>
  </div>

</div>
