/* Contenedor principal */
.tiposysubtipos-summary-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
  }
  h3{
    padding: 15px 0;
  }
  /* Tarjetas */
  .card {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex
;
    border-radius: 8px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    position: relative;
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
}

.card-body {
    padding: 20px;
}


  /* Tarjetas 2 */
  .three {

    margin-bottom: 100px;
}
  
  /* Botón de volver */
  .back-btn {
    background: transparent;
    cursor: pointer;
    color: #2c3e50;
    top: -5px;
    left: 20px;
    position: absolute;
}

.back-btn i {
    margin-right: 0.5rem;
    font-size: 2.5rem;
}
  
  /* Listas desplegables */
 
.dropdown-list {
    list-style: none;
    padding: 0;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    overflow: hidden;
}

/* Estilos para cada item de la lista */
.dropdown-list li {
    border-bottom: 1px solid #e0e0e0;
}

/* Último item sin borde */
.dropdown-list li:last-child {
    border-bottom: none;
}

/* Estilo para el título de cada opción */
summary {
  position: relative;
  background-color: #f7f7f7;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 14px;
  color: #3d3d3d;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  transition: background-color 0.3s;
  list-style: none;
}

summary:hover {
    background-color: #eaeaea;
}

/* Oculta el marcador predeterminado en navegadores basados en WebKit */
summary::-webkit-details-marker {
    display: none;
}

/* Oculta el marcador predeterminado en Firefox */
summary::marker {
    display: none;
}

/* Flecha a la derecha utilizando pseudo-elemento */
summary::after {
    content: '\25BA';
    /* Flecha a la derecha */
    position: absolute;
    right: 20px;
    font-size: 16px;
    transition: transform 0.3s;
}

/* Cuando se expande la opción, la flecha rota */
details[open] summary::after {
    transform: rotate(90deg);
}
  
 
  
  /* Formulario */
  .create-tipo-denuncia-container {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .create-tipo-denuncia-container h3 {
    margin-bottom: 15px;
  }
  
/* Estilos del formulario */
form {
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
  /* Grupos y etiquetas */
.group {
    margin-bottom: 1.2rem;
}
.lbl {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: #2c3e50;
    font-weight: 500;
}

.input {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    font-size: 1rem;
    background: #f1f1f1;
    transition: all 0.3s ease;
}

.input:focus {
    border-color: #3498db;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
    outline: none;
}

.input::placeholder {
    color: #bdc3c7;
}

  
  .btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #218838;
  }
  /* //img */
  .image-preview-group {
    display: flex;
    justify-content: center;
}
img{
    width: 120px;
    height: 120px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
}
/* Estilos para la vista de tabla */
.table-container {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .table-view-button {
    background: #232949;
    border: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .table-view-button:hover {
    background: #0056b3;
  }

/* Estilos para los controles de paginación */
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    left: 0;
    width: 100%;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    padding: 5px 10px;
    border: none;
    background: #232949;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-controls button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  .pdf-download {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px; 

    width: 100%;
  
  }
  
  .pdf-download button {
    cursor: pointer;
    background: #e77733;
    padding: 10px;
    border-radius: 10px;
  }
  /* Botón de Filtrar */
.filter-button {
    border-radius: 5px;
    background: none;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
  }
  /* Estilos para el modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
  }
  
  .filter-field {
    margin-bottom: 15px;
  }
  
  .filter-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .filter-field input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  /* Botones del modal */
  .modal-actions button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .modal-actions button:first-child {
    background: #000;
    /* Fondo azul para el botón Aceptar */
    color: #fff;
  }
  
  .modal-actions button:first-child:hover:not(:disabled) {
    background: #0056b3;
  
  }
  
  .modal-actions button:first-child:disabled {
    background: #000;
    /* Azul claro para estado deshabilitado */
    cursor: not-allowed;
    color: #000;
  
  }
  
  .modal-actions button:last-child {
    background: #ccc;
    color: #000;
  }
  
  /* Media Query (Pantallas < 400px de ancho) */
  @media (max-width: 380px) {
    .container_zona {
      padding: 40px 10px;
    }
  
    .container_zona p {
      font-size: 18px;
    }
  
    .cards {
      gap: 16px;
      margin-bottom: 80px;
    }
  
    .card1 {
      width: 256px;
      height: 320px;
      margin: 0px 32px;
      margin-bottom: 120px;
    }
  
    .card1 .imgbx {
      height: 192px;
    }
  
    .card1 .imgbx::before {
      width: 16px;
      height: 16px;
      box-shadow: -8px 8px 0 #fff;
    }
  
    .card1 .imgbx::after {
      bottom: 56px;
      width: 16px;
      height: 16px;
      box-shadow: -8px 8px 0 #fff;
    }
  
    .card1 .content {
      height: 120px;
    }
  
    .card1 .content .btn {
      top: -64px;
      height: 64px;
      border-top: 8px solid #fff;
      border-right: 8px solid #fff;
      border-top-right-radius: 20px;
    }
  
    .card1 .content .btn::before {
      width: 20px;
      height: 20px;
      box-shadow: -8px -8px 0 #fff;
    }
  
    .card1 .content .btn::after {
      right: -20px;
      width: 20px;
      height: 20px;
      box-shadow: -8px 8px 0 #d5d5d5;
    }
  
    .card1 .content .btn .button {
      padding: 8px 16px;
      border-radius: 8px;
    }
  
    .card1 .content .btn .button i {
      font-size: 1.2em;
    }
  
    .card1 .content .btn .button .txt {
      font-size: 14px;
      letter-spacing: 3px;
    }
  
    .info-list ul {
      margin: 8px 0 0 0;
      gap: 8px;
    }
  
    .info-list ul li {
      padding: 4px 8px;
    }
  
    .info-list ul li.name {
      font-size: 1em;
    }
  
    .info-list ul li.campiamigos,
    .info-list ul li.productos {
      font-size: 0.8em;
    }
  
    .info-list ul li.campiamigos .icon,
    .info-list ul li.productos .icon {
      font-size: 1em;
    }
  }