<div class="password-recovery-container">
    <form (ngSubmit)="requestPasswordReset(f)" #f="ngForm" novalidate>
      <div class="form">
        <div class="title">
          <h3>Recuperar Contraseña</h3>
          <h6>Ingresa tu correo electrónico o nombre de usuario para recibir instrucciones</h6>
        </div>
    
        <div class="group">
          <label class="lbl">Correo o Usuario</label>
          <input 
            type="text" 
            name="usernameOrEmail" 
            [(ngModel)]="usernameOrEmail" 
            class="input" 
            placeholder="Introduce tu correo o nombre de usuario" 
            required>
        </div>
    
        <button type="submit" class="btn" [disabled]="loading">
          {{ loading ? 'Enviando...' : 'Recuperar Contraseña' }}
        </button>
      </div>
    </form>
  </div>
  