.body {
  width: 100%;
  position: relative;
  top: 45px;
  height: 90vh;
  z-index: 1;
  color: #000;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
} /* Define alturas fijas para header y navbar */
app-header {
  height: 42px; /* o la altura que tengas definida */
  flex-shrink: 0;
}
