<div class="container">
  <div class="info" [class.hidden-info]="selectedDenunciaIndex !== null">
    <i class='bx bx-error-circle'></i>
    <p>Selecciona el tipo de denuncia {{ modo === 'oficial' ? 'oficial' : 'anónima' }}</p>
  </div>

  <div class="content" *ngIf="tiposDenuncias.length; else noData">
    <p>¿Qué quieres denunciar?</p>
    <ul>
      <li *ngFor="let t of tiposDenuncias; let i = index"
          class="denuncia-item" [class.selected]="selectedDenunciaIndex === i">
        <div class="denuncia-header" (click)="toggleDescripcion(i)">
          <span>
            <img (click)="speakDenuncia(i); $event.stopPropagation()"
                 [src]="getImageUrl(t.flagImage)"
                 alt="Icono"
                 class="denuncia-icon"
                 [class.no-pulse]="!isPulsing(i)">
            <div class="nombre">
              {{ t.nombre }} <i class='bx bx-info-circle'></i>
            </div>
          </span>
        <input type="checkbox" class="ui-checkbox" [checked]="selectedDenunciaIndex === i"
            (change)="selectDenuncia(i)">
        </div>
        <div *ngIf="descripcionVisible===i" class="descripcion">
          {{ t.descripcion }}
        </div>
      </li>
    </ul>
  </div>

  <a class="scrollup scrollup--inactive" id="scroll-up"
     (click)="scrollToTop()">
    <i class='bx bx-up-arrow-alt scrollup__icon'></i>
  </a>

  <ng-template #noData>
    <p>No hay tipos de denuncia disponibles.</p>
  </ng-template>

  <app-navbar [denunciaSeleccionada]="selectedDenunciaIndex!==null"
              [showDots]="true"
              (continuar)="handleContinue()">
  </app-navbar>
</div>
